span.badge {
    padding-right: 0.65rem;
}

span.badge.badge-success {
    background-color: lighten($blue, 30%);
    color: $blue;
}

span.badge.badge-warning {
    background-color: lighten($yellow, 20%);
    color: $orange;
}
