a#scroll-top {
    position: fixed;
    bottom: 0.45rem;
    right: 0.35rem;
    font-size: 150%;
}

.btn.btn-link:hover {
    text-decoration: none;
}

ul, ol {
    margin-bottom: 0.5rem;
}

ul.links-list {
    display: block;
    list-style: none;
}

ul.links-list > li {
    display: block;
    white-space: nowrap;
}

ul.links-list li::before {
    content: "\2022";
    color: lighten(black, 50%);
    font-size: 150%;
    display: inline-block;
    width: 0.5em;
}

.panel-content > ul.links-list > li::before {
    position: relative;
    top: 3px;
}

ul.links-list > li:hover {
    transform: translate(3px, 0px);
    transition-property: all;
    transition-duration: 0.2s;
}


.sub-sections-list > ul.links-list > li::before {
    position: relative;
    bottom: 5px;
}

div.sub-sections-list > ul.links-list > li > a.btn.btn-link {
    color: lighten(black, 60%);
    padding-bottom: 0 !important;
    margin-bottom: 1rem;
}

div.sub-sections-list > ul.links-list > li > a.btn.btn-link:hover {
    color: lighten(black, 50%);
}

.btn:not(.btn-link) {
    border-radius: 20px;
    box-shadow: 0px 3px 5px lighten(black, 70%);
}

.btn:hover:not(.btn-link) {
    box-shadow: 0px 6px 8px lighten(black, 70%);
    transform: translate(0px, -2px);
    transition-property: all;
    transition-duration: 0.2s;
}

#menu-toggle {
    border-radius: 5px;
    box-shadow: none;
}

#menu-toggle:hover {
    transform: none;
}