input, textarea {
    background-color: lighten($yellow, 28%) !important;
    box-shadow: inset 0 0.3rem 0.6rem rgba(0, 0, 0, 0.10) !important;
    border: none !important;
}

input:hover, textarea:hover {
    background-color: lighten($yellow, 22%) !important;
}

input:focus, textarea:focus {
    background-color: lighten($yellow, 18%) !important;
}

input.is-invalid, textarea.is-invalid {
    background-color: lighten($red, 40%) !important;
}
